.all{
  background-color:purple;
  color:yellow;
  font-family:monospace, "Times New Roman", serif;
  text-align:center;
}
.disclaimer{
  border:6px groove red;
  color:red;
  float:right;
  font-size:12px;
  width:25%;
}
.sidebar-left{
  border:6px groove yellow;
  float:left;
  left:0;
  position:absolute;
  top:70px;
  width:25%;
  
}
.sidebar-right{
  border:6px groove yellow;
  float:right;
  position:absolute;
  right:0;
  top:150px;
  width:25%;
}
ul .ft{
  size:15px;
}
a:link{
  color:yellow;
}
a:visited{
  color:rgb(0, 255, 255);
}
